* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

.navbar {
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 15px 25px;
    margin: 10px 1%;
    border-radius: 30px;
}

.nav-rechts {
    display: flex;
    list-style-type: none;
}


.menu-icon {
    display: none;
    cursor: pointer;
    gap: 5px;
    flex-direction: column;
}

.menu-icon span {
    display: block;
    width: 25px; 
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.menu-toggle {
    display: none;
}

body:has(.menu-toggle:checked) .bar1 {
    transform: rotate(45deg);
    position: absolute;
}

body:has(.menu-toggle:checked) .bar2 {
    opacity: 0;
}

body:has(.menu-toggle:checked) .bar3 {
    transform: rotate(-45deg);
    position: absolute;
}    

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }

    .nav-rechts {
        display: none;
        flex-direction: column;
    }

    .div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu-icon {
        display: flex;
    }

    body:has(.menu-toggle:checked) .nav-rechts {
        display: block;
    } 
}